.decor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Poppins';
    color: black;
    background: rgba( 255, 223, 242, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.mb-3 {
    margin: 1rem!important;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 70%;
}