.fixed-top {
    position: initial;
}

.header{
    margin: 30px;
    @extend .decorNav;
}

ul{
    list-style-type: none;

    li{
        font-family: 'Poppins';
        color: black;

        a{
            color: black;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Poppins';
            @extend .decorNav;
        }
    }
}

footer{
    margin-top: 50px;
    @extend .decorNav;
}

.pie{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}



