/* creo extend*/

.decorNav{
    background-color: rgba(255, 198, 231, 0.788);
    background: rgba( 255, 223, 242, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


@mixin size($width, $height){
    height: $height;
    width: $width;

}

iframe{
    @include size(400px,300px);

    @media(min-width: 1024px) {
            @include size(500px,700px);
        }
        @media (min-width: 1600px) {
            @include size(900px,700px)
        }
}