@import "fuentes";
@import "generales";
@import "operaciones";
@import "navbar";
@import "formulario";
@import "contenido";
@import "infohome";
@import "media";


@media(min-width: 1024px) {

li:hover{
    transform: scale(125%);
    transition: all 1s;
}


}